<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<div style="text-align:center">
  <button class="button" (click)="onTourOfHeroesButtonClick()">Tour Of Heroes</button>
  <button class="button" (click)="onInvoiceAttestationClick()">Invoice Attestation </button>
  <button class="button" (click)="onStarWarsClick()">Star Wars</button>
  <button class="button" (click)="onOthersClick()">Others</button>
</div>
<div style="text-align:center">
  <a routerLink = "/tour-of-heroes" routerLinkActive = "active" style="margin: 10px;">tour of heroes</a>
  <a routerLink = "/invoice" routerLinkActive = "active" style="margin: 10px;">invoice attestation</a>
  <a routerLink = "/starwars" routerLinkActive = "active" style="margin: 10px;">star wars</a>
  <a routerLink = "/others" routerLinkActive = "active" style="margin: 10px;">others</a>
  <a routerLink = "/order" routerLinkActive = "active" style="margin: 10px;">order list</a>
  <a routerLink = "/authentication" routerLinkActive = "active" style="margin: 10px;">Authentication</a>
  
</div>
<router-outlet></router-outlet>
